body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  size: 24px;
}

.header, .container, .content, .footer {
  display: flex;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  size: 32px;
  font-weight: 900;
  padding: 2px 16px;
}

.container {
  align-items: stretch;
}

.header, .footer {
  align-items: center;
}

.content {
  flex-wrap: wrap;
  gap: 24px;
  padding: 48px;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px 2px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 5px;
  width: 220px;
  height: 200px;
  box-sizing: border-box;
}